<h1>A Book</h1>

<h4><%= @book.title %></h4>
<p><%= @book.author.name %></p>
<p><%= @book.snippet %></p>

<form action=<%= "/books/#{@book.id}" %> method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete</button>

</form>